@import '../../styles/common';
@import '../../styles/reset';

.app {
    font: @font-text;

    &.bannerVisible {
        padding-top: 100px;

        @media screen and (max-width: 768px) {
            padding-top: 200px;
        }
    }
}

.main {
    max-width: 1180px;
    margin: 0 auto;
}
